<mat-card>
  <mat-card-header>
    <mat-card-title>About Loan_App</mat-card-title>
  </mat-card-header>
  <img
    mat-card-image
    src="./assets/david-clode-5uU8HSpfwkI-unsplash.jpg"
    alt="Snake"
    style="width: 25%"
  />
  <mat-card-content>
    <p>
      Loan_App, a groundbreaking provider of magical financial solutions, is
      nestled in the heart of the wizarding world. The foundation of our
      establishment is deep-rooted in the illustrious history of Hogwarts, and
      particularly in the cunning and resourceful house of Slytherin. At a time
      when our competitors struggle to navigate the rapidly evolving wizarding
      economy, Loan_App stands a cut above, revolutionizing the magical finance
      industry since its inception.
    </p>
    <p>
      Merlin Moneybags, an eccentric Slytherin alumnus with a vision for
      innovation, established Loan_App. His desire to merge the arcane arts with
      modern economics led to the birth of our esteemed organization. Today,
      Loan_App is backed by a cadre of the finest witches and wizards - experts
      in financial conjuration and credit transfiguration - committed to
      providing top-tier service to our customers.
    </p>
    <p>
      Our services extend from the goblin-run Gringotts Wizarding Bank, hidden
      behind the Leaky Cauldron in Diagon Alley, to the high-street banks in the
      picturesque village of Hogsmeade. With Loan_App, your Galleons, Sickles,
      and Knuts are always handled with the utmost care and security. We proudly
      assure our customers that their financial assets are in safe wands.
    </p>
    <p>
      We understand the importance of personal touch. Each of our financial
      advisors is trained in Legilimency to better understand our customers'
      needs and offer personalized financial advice. Our Quidditch financing
      department has been the key to many a young witch and wizard getting their
      first Comet or Nimbus broom.
    </p>
    <p>
      However, the cornerstone of Loan_App remains our commitment to the values
      of Slytherin House: resourcefulness, determination, and a certain
      disregard for the rules. It's these values that allow us to continually
      push the boundaries of magical finance and provide the best service in the
      wizarding world.
    </p>
    <p>
      Embrace the magic of simple, swift, and secure financial transactions
      today with Loan_App. We're not just a financial institution; we're a
      partner in your magical journey.
    </p>
  </mat-card-content>
</mat-card>
